{% extends "shop/base.html" %}
{% load i18n %}

{% block title %}
  {% trans 'Hisob-kitoblar' %}
{% endblock %}

{% block content %}
  <h1>{% trans 'Hisob-kitoblar' %}</h1>
  <div class="order-info">
      <h3>{% trans 'Buyurtmangiz' %}</h3>
      <ul>
          {% for item in cart %}
              <li>{{ item.quantity }}x {{ item.product.name }}
              <span>${{ item.total_price|floatformat:'2' }}</span>
              </li>
          {% endfor %}
          {% if cart.coupon %}
            <li>
              {% blocktrans with code=cart.coupon.code discount=cart.coupon.discount %}
                "{{ code }}" ({{ discount }}% off)
              {% endblocktrans %}
              <span>- ${{ cart.get_discount|floatformat:"2" }}</span>
            </li>
          {% endif %}
      </ul>
      <p>{% trans 'Jami' %}: ${{ cart.get_total_price_after_discount|floatformat:'2' }}</p>
  </div>
<form action="." method="post" class="order-form">
    {{ form.as_p }}
    <p><input type="submit" value="{% trans 'Buyurtma berish' %}"></p>
    {% csrf_token %}
</form>
{% endblock %}